/* .list-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.input-base {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 16px;
}

.delete-button {
    background-color: transparent;
    color: #f50057;
    border: none;
    cursor: pointer;
} */
